.backgroundbox{
    background-color: #c4816E;
    height: 80%;
    width: 55%;
    right: 0px;
    top: 0px;
    float: right;
    position: absolute;
    z-index: 1;
  }
  body {
      margin: 0;
      background: #FFFF;
      font-family: 'Span', sans-serif;
      font-weight: 800;
      text-align: center;
  
  }
  .container {
      width: 100%;
      margin: 0 auto;
  }
  
  header {
    background: #FFFF;
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo {
    float: left;
    margin-left: 40px;
    padding: 10px 0;
  }

  nav a {
    color: #FFFF;
    text-decoration: none;
    text-transform: none;
    font-size: 35px;
  }
  
  nav a:hover {
    color: #707070;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 0;
    background-color: #FFFF;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  
  h2{
    margin-top: 330px;
    float: center;
    color:#E6DCD2;
    font-family: 'Span', serif;
    font-size: 50px;
  }
  .picture{
    float: center;
    width: 80%;
  }
  .container2 {
    z-index: 1000;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-top: 200px;
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
  .social-menu ul {
    position: center;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .social-menu ul li {
    list-style: none;
    margin: 0 10px;
  }
  .social-menu ul li .fa {
    color: #ffffff;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
  }
  .social-menu ul li .fa:hover {
    color: #ffffff;
  }
  .social-menu ul li a {
    position: center;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c4816E;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #3B5998;
  }
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #1DA1F2;
  }
  .social-menu ul li:nth-child(3) a:hover {
    background-color: #8a3AB9;
  }
  @media screen and (max-width: 640px) {
    .body {
      float: none;
      width: auto;
    }
  }
